@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <h1 class="display-4">Bem vindo de volta, [nome do usuário]!</h1>
    <img src="https://img.freepik.com/premium-vector/continuous-line-woman-hallo-gesture-waving-hand-illustration_274619-1701.jpg">
</div>
