
@{
    ViewData["Title"] = "Início";
}

<div class="text-center pt-5">
    <div class="all-table-appoint">
        <h4>Próximas Consultas</h4>
        <div>
            @await Html.PartialAsync("~/Views/Home/Partials/_HomeAppointmentsTable.cshtml")
        </div>
    </div>
    <div style="display: flex;justify-content: space-between;margin: 5% 0;">
        <div class="all-table-home">
            <h4>Pagamentos Pendentes</h4>
            @await Html.PartialAsync("~/Views/Home/Partials/_HomePaymentsTable.cshtml")
        </div>
        <img src="~/imgs/psycho_img.png" style="width: 300px; margin-right: 5rem; opacity: 0.8;">
    </div>
</div>
