@{
    ViewData["Title"] = "Perfil";
}

<div class="secondary-header">
    <h2>Perfil</h2>
</div>
<div>
    <section class="section-table">
        @await Html.PartialAsync("~/Views/Profile/Partials/_ProfileSection.cshtml")
    </section>

    <div id="modal-index-profile"></div>
</div>

<script src="~/js/profile.js"></script>