<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MindCare_Central_Clinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="vh-100">
    <main>
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">MindCare</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link link-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                        Início
                    </a>
                </li>
                <li>
                    <a class="nav-link link-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        Agendamentos
                    </a>
                </li>
                <li>
                    <a class="nav-link link-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        Pagamentos
                    </a>
                </li>
                <li>
                    <a class="nav-link link-dark" asp-area="" asp-controller="Client" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                        Clientes
                    </a>
                </li>
                <li>
                    <a class="nav-link link-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Profissionais
                    </a>
                </li>
                <li>
                    <a class="nav-link link-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Administradores
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://img.freepik.com/premium-vector/continuous-line-woman-waving-hand-illustration_274619-1867.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Perfil</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Configurações</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Sair</a></li>
                </ul>
            </div>
        </div>
        <div class="main-container">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
