@{
    ViewData["Title"] = "Agendamento";
}

<div class="secondary-header">
    <h2>Agendamentos</h2>
    <button class="button-6" data-bs-toggle="modal" data-bs-target="#appointmentModal">Novo</button>
</div>

<section class="align-content-center">
    @await Html.PartialAsync("~/Views/Appointment/Partials/_AppointmentsTable.cshtml")

    <!-- Modal -->
    @await Html.PartialAsync("~/Views/Appointment/Partials/_AppointmentsModal.cshtml")

    <div id="modal-update-appoint"></div>
    <div id="modal-delete-appoint"></div>
</section>

<script src="~/js/appointment.js"></script>