<div class="section-login">
    <h2>Login</h2>
    <div>
        <div class="form-group">
            <span>Usuário</span>
            <input class="form-control" id="login-username" type="text">
        </div>
        <div class="form-group">
            <span>Senha</span>
            <input class="form-control" id="login-password" type="password">
        </div>
        <div class="form-group">
            <input type="checkbox" onclick="ModalLogin.ShowPassword()">
            <span>Mostrar Senha</span>
        </div>
        <div class="form-group">
            <button type="button" class="button-6 button-6-login" onclick="ActLogin.Get()">Login</button>
        </div>
    </div>
</div>