<div>
    <h2>Tela de Login</h2>
    <div>
        <div>
            <span>Login</span>
            <input id="login-username" type="text">
        </div>
        <div>
            <span>Senha</span>
            <input id="login-password" type="password">
        </div>
        <div>
            <input type="checkbox" onclick="ModalLogin.ShowPassword()">
            <span>Mostrar Senha</span>
        </div>
        <div>
            <button onclick="ActLogin.Get()">Login</button>
        </div>
    </div>
</div>