html {
  font-size: 14px;
  color: white !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color: white !important;
}

hr{
    color: white !important;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.link-dark {
    color: white !important;
}

td, tr, tbody, th{
    border-color: unset;
    border:none;
    color: #a9927d;
}

thead {
    border-color: unset;
    border-bottom-width: thin;
    color: #a9927d;
}

.form-select, .dropdown-item, .form-control {
    color: #74573c;
}

.nav-item {
    font-size: 18px;
}
.nav-link{
    display: flex;
}

.section-table {
    background-color: #a9927d33;
    padding: 20px;
    border-radius: 30px;
}

.all-table-home {
    background-color: #a9927d33;
    width: 50%;
    padding: 2%;
    border-radius: 30px;
}

.all-table-appoint {
    background-color: #a9927d33;
    padding: 2%;
    border-radius: 30px;
}

/*SIDEBAR*/
.sidebar {
    background-color: #a9927dd4;
}

/*Container*/

.main-container {
    width: 100%;
    padding: 0 var(--bs-gutter-x, 6rem);
    margin-right: auto;
    margin-left: auto;
    color: #a9927d !important;
}

.secondary-header {
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
}

/*Buttons*/

.button-6 {
    align-items: center;
    background-color: #a9927d59;
    border: 1px solid #a9927d;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #63472e;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 2rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

    .button-6:hover,
    .button-6:focus {
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        color: #63472e;
    }

.button-6:hover {
    transform: translateY(-1px);
}

    .button-6:active {
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: #a9927d;
        transform: translateY(0);
    }

.button-6-primary {
    margin: 5px;
    background-color: #a9927d;
    color: white;
}

.button-6-login {
    background-color: #a9927d;
    color: white;
    width: 100%;
    margin-top: 5%;
    padding: 4%;
}

.button-6-secondary {
    margin: 5px;
}

.rotate {
    transition: all 600ms ease-in-out;
    transform: rotateZ(180deg);
    cursor: pointer;
}

.div-SubTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    padding: 2rem 0;
    border-bottom: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
}

.container-resumoCard {
    opacity: 1;
    transition: opacity .5s linear;
    margin-bottom: 1rem;
    border: 1px solid #d6d6d6;
    padding: 0 1rem 1rem 1rem;
    border-radius: 0 0 5px 5px;
    border-top:none;
}

/*SPINNER LOADER*/
.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #b69c61;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #f5f5f5;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

    .ring:before {
        content: '';
        position: absolute;
        top: -3px;
        left: -2px;
        width: 103%;
        height: 105%;
        border: 3px solid transparent;
        border-top: 3px solid #b69c61;
        border-right: 3px solid #b69c61;
        border-radius: 50%;
        animation: animateC 2s linear infinite;
    }

span#spanSpinner {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

    span#spanSpinner:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #297dff;
        top: -6px;
        right: -8px;
        box-shadow: 0 0 20px #ffffff;
    }
.spinner-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000d6;
}

.bi {
    width: 20px;
    cursor: pointer;
}
    .bi:hover {
        color: #8e6f59;
    }

.container-login {
    margin: 13% 35%;
}

.section-login {
    padding: 10%;
    border-radius: 30px;
    background-color: #a9927d33;
}