@model HomeViewModel

@if (Model.ListAppointments is null || Model.ListAppointments.Count == 0)
{
    <p>Não há consultas marcadas.</p>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data</th>
                <th scope="col">Horário</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListAppointments.Where(x => DateTime.Parse(x.ScheduledDate) > DateTime.Now).OrderBy(y => y.ScheduledDate))
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Client.Name</td>
                    <td>@DateTime.Parse(item.ScheduledDate).ToString("dd/MM/yyyy")</td>
                    <td>@DateTime.Parse(item.ScheduledDate).ToString("HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}