
@{
    ViewData["Title"] = "Cliente";
}

<div class="secondary-header">
    <h2>Clientes</h2>
    <button class="button-6" data-bs-toggle="modal" data-bs-target="#exampleModal">Novo</button>
</div>

<section class="align-content-center section-table">
    @await Html.PartialAsync("~/Views/Client/Partials/_ClientsTable.cshtml")

    <!-- Modal -->
    @await Html.PartialAsync("~/Views/Client/Partials/_ClientsModal.cshtml")

    <div id="modal-update-client"></div>
    <div id="modal-delete-client"></div>
</section>

<script src="~/js/client.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>